<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <div class="navbar-header col-md-3 col-lg-2 me-0 px-3">
        <a class="navbar-brand" href="/">
            <img class="align-middle" src="/favicons/{{favicon}}" border="0" style="border-radius: 50%;" height="32px">&nbsp;
            WhMgr Admin Dashboard
        </a>
    </div>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!--<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">-->
    <div class="w-100">
        <input class="form-control form-control-dark" type="text" id="search" name="search" placeholder="Search Configs, Discords, Alarms, Filters, Embeds, Geofences, etc..." aria-label="Search" onkeyup="onSearchTextChanged(this);">
        <ul id="searchDropdown" class="list-group dropdown-content w-100">
        </ul>
    </div>
    {{#if passport}}
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle" id="dropdownProfile" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://cdn.discordapp.com/avatars/{{passport.userId}}/{{passport.avatarId}}" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>{{passport.username}}</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-right text-small shadow" aria-labelledby="dropdownProfile">
            <li><a class="dropdown-item" href="/dashboard/profile">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/dashboard/logout">Sign out</a></li>
        </ul>
    </div>
    {{else}}
    <a href="/login" class="d-flex align-items-center text-decoration-none" aria-expanded="false">
        <strong>Login</strong>
    </a>
    {{/if}}
</header>

<script type="text/javascript">
    function onSearchTextChanged(e) {
        const searchDropdown = $('#searchDropdown');
        const input = $('#search');
        const value = input.val();
        const filter = value.toUpperCase();
        // Remove all existing items from dropdown
        function removeResults() {
            searchDropdown.empty();
        }
        function addResults(dropdown, title, results) {
            if (results.length) {
                let html = `
<div class="card">
    <div class="card-header">
        ${title}
    </div>
    <ul class="list-group list-group-flush">
`;
                for (const result of results) {
                    html += `
        <li class="list-group-item">
            <a href="${result.href}">
                ${result.text}
                <br>
                ${result.subText}
            </a>
        </li>
`;
                }
                html += `
    </ul>
</div>
`;
                dropdown.append(html);
            }
        }
        $.ajax('/api/v1/search', {
            type: 'POST',
            data: {
                search: filter,
            },
            dataType: 'json',
        }).then((data, textStatus, xhr) => {
            //console.log('data:', data);
            removeResults();
            if (data.status === 'OK') {
                const results = data.results;
                // Group dropdown results list by type
                addResults(searchDropdown, 'Configs', results.configs);
                addResults(searchDropdown, 'Discord Servers', results.discords);
                addResults(searchDropdown, 'Alarms', results.alarms);
                addResults(searchDropdown, 'Embeds', results.embeds);
                addResults(searchDropdown, 'Filters', results.filters);
                addResults(searchDropdown, 'Geofences', results.geofences);
                addResults(searchDropdown, 'Discord Roles', results.roles);
                addResults(searchDropdown, 'Users', results.users);
                // Show or hide dropdown after results are fetched
                if (value.length === 0) {
                    searchDropdown.hide();
                } else {
                    searchDropdown.show();
                }
            } else {
                console.error('Error occurred:', data.error);
            }
        }).fail((xhr, textStatus, err) => {
            console.error('remove error:', err);
        });
    }
</script>