{{!< default}}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{title}}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a type="button" class="btn btn-sm btn-success" href="/dashboard/alarms/new">
            New Channel Alarm
        </a>
    </div>
</div>

<p>
    Channel alarms are pre-defined configs to report a data to a channel.
</p>

<table
    id="table"
    data-toggle="table"
    data-search="true"
    data-page-size="25"
    data-pagination="true">
    <thead class="bg-dark text-light">
        <tr>
            <th scope="col" data-sortable="true">Name</th>
            <th scope="col" class="col-1" data-sortable="true">Enable Pokemon</th>
            <th scope="col" class="col-1" data-sortable="true">Enable Raids</th>
            <th scope="col" class="col-1" data-sortable="true">Enable Gyms</th>
            <th scope="col" class="col-1" data-sortable="true">Enable Quests</th>
            <th scope="col" class="col-1" data-sortable="true">Enable Pokestops</th>
            <th scope="col" class="col-1" data-sortable="true">Enable Weather</th>
            <th scope="col" class="col-1" data-sortable="true">Count</th>
            <th scope="col" class="col-1"></th>
        </tr>
    </thead>
    <tbody>
    {{#each alarms}}
        <tr scope="row">
            <td>{{@key}}</td>
            <td>{{formatBool enablePokemon}}</td>
            <td>{{formatBool enableRaids}}</td>
            <td>{{formatBool enableGyms}}</td>
            <td>{{formatBool enableQuests}}</td>
            <td>{{formatBool enablePokestops}}</td>
            <td>{{formatBool enableWeather}}</td>
            <td>{{alarms.Count}}</td>
            <td>
                <a type="button" class="btn btn-primary btn-sm" href="/dashboard/alarms/edit/{{@key}}">
                    <i class="fas fa-edit"></i>
                </a>
                <a type="button" class="btn btn-danger btn-sm" href="/dashboard/alarms/delete/{{@key}}" onclick="return confirm('Are you sure you want to delete alarm {{@key}}?');">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>