<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{title}}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a type="button" class="btn btn-sm btn-success" href="/dashboard/configs/new">
            New Config
        </a>
    </div>
</div>

<p>
    Configs are the heart of the program and only one is used per <i>instance</i> at a time.
</p>

<table
    id="table"
    data-toggle="table"
    data-search="true"
    data-page-size="25"
    data-pagination="true">
    <thead class="bg-dark text-light">
        <tr>
            <th scope="col" data-sortable="true">Name</th>
            <th scope="col" data-sortable="true">Endpoint</th>
            <th scope="col" class="col-1" data-sortable="true">No. Servers</th>
            <th scope="col" class="col-1"></th>
        </tr>
    </thead>
    <tbody>
    {{#each configs}}
        <tr scope="row">
            <td>{{@key}}</td>
            <td>{{listeningHost}}:{{webhookPort}}</td>
            <td>{{len servers}}</td>
            <td>
                <a type="button" class="btn btn-primary btn-sm" href="/dashboard/configs/edit/{{@key}}">
                    <i class="fas fa-edit"></i>
                </a>
                <a type="button" class="btn btn-danger btn-sm" href="/dashboard/configs/delete/{{@key}}" onclick="return confirm('Are you sure you want to delete config {{@key}}?');">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>