<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{title}}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a type="button" class="btn btn-sm btn-success" href="/dashboard/filters/new">
            New Filter
        </a>
    </div>
</div>

<table
    id="table"
    data-toggle="table"
    data-search="true"
    data-page-size="25"
    data-pagination="true">
    <thead class="bg-dark text-light">
        <tr>
            <th scope="col" data-sortable="true">Name</th>
            <th scope="col" class="col-1" data-sortable="true">Pokemon</th>
            <th scope="col" class="col-1" data-sortable="true">Raids</th>
            <th scope="col" class="col-1" data-sortable="true">Gyms</th>
            <th scope="col" class="col-1" data-sortable="true">Quests</th>
            <th scope="col" class="col-1" data-sortable="true">Pokestops</th>
            <th scope="col" class="col-1" data-sortable="true">Weather</th>
            <th scope="col" class="col-1"></th>
        </tr>
    </thead>
    <tbody>
    {{#each filters}}
        <tr scope="row">
            <td>{{@key}}</td>
            <td>{{formatBool pokemon.enabled}}</td>
            <td>{{formatBool raids.enabled}}</td>
            <td>{{formatBool gyms.enabled}}</td>
            <td>{{formatBool quests.enabled}}</td>
            <td>{{formatBool pokestops.enabled}}</td>
            <td>{{formatBool weather.enabled}}</td>
            <td>
                <a type="button" class="btn btn-primary btn-sm" href="/dashboard/filters/edit/{{@key}}">
                    <i class="fas fa-edit"></i>
                </a>
                <a type="button" class="btn btn-danger btn-sm" href="/dashboard/filters/delete/{{@key}}" onclick="return confirm('Are you sure you want to delete filter {{@key}}?');">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>