{{!< default}}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{title}}</h1>
</div>

<div class="card m-2">
    <div class="card-header bg-dark text-light">
        <b>Overview</b>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3 p-1">
                <div class="list-group">
                    <a href="/dashboard/configs" class="list-group-item">
                        <h3 class="pull-right">
                            <i class="fas fa-cogs"></i>
                        </h3>
                        <h4 class="list-group-item-heading count">
                            {{stats.configs}}
                        </h4>
                        <p class="list-group-item-text">
                            Configs
                        </p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 p-1">
                <div class="list-group">
                    <a href="/dashboard/discords" class="list-group-item">
                        <h3 class="pull-right">
                            <i class="fas fa-server"></i>
                        </h3>
                        <h4 class="list-group-item-heading count">
                            {{stats.discords}}
                        </h4>
                        <p class="list-group-item-text">
                            Discord Servers
                        </p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 p-1">
                <div class="list-group">
                    <a href="/dashboard/alarms" class="list-group-item">
                        <h3 class="pull-right">
                            <i class="fas fa-bell"></i>
                        </h3>
                        <h4 class="list-group-item-heading count">
                            {{stats.alarms}}
                        </h4>
                        <p class="list-group-item-text">
                            Alarms
                        </p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 p-1">
                <div class="list-group">
                    <a href="/dashboard/filters" class="list-group-item">
                        <h3 class="pull-right">
                            <i class="fas fa-filter"></i>
                        </h3>
                        <h4 class="list-group-item-heading count">
                            {{stats.filters}}
                        </h4>
                        <p class="list-group-item-text">
                            Filters
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 p-1">
                <div class="list-group">
                    <a href="/dashboard/embeds" class="list-group-item">
                        <h3 class="pull-right">
                            <i class="fas fa-project-diagram"></i>
                        </h3>
                        <h4 class="list-group-item-heading count">
                            {{stats.embeds}}
                        </h4>
                        <p class="list-group-item-text">
                            Embeds
                        </p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 p-1">
                <div class="list-group">
                    <a href="/dashboard/geofences" class="list-group-item">
                        <h3 class="pull-right">
                            <i class="fas fa-location-arrow"></i>
                        </h3>
                        <h4 class="list-group-item-heading count">
                            {{stats.geofences}}
                        </h4>
                        <p class="list-group-item-text">
                            Geofences
                        </p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 p-1">
                <div class="list-group">
                    <a href="/dashboard/roles" class="list-group-item">
                        <h3 class="pull-right">
                            <i class="fas fa-layer-group"></i>
                        </h3>
                        <h4 class="list-group-item-heading count">
                            {{stats.roles}}
                        </h4>
                        <p class="list-group-item-text">
                            Discord Roles
                        </p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 p-1">
                <div class="list-group">
                    <a href="/dashboard/templates" class="list-group-item">
                        <h3 class="pull-right">
                            <i class="fas fa-file-alt"></i>
                        </h3>
                        <h4 class="list-group-item-heading count">
                            {{stats.templates}}
                        </h4>
                        <p class="list-group-item-text">
                            Templates
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>