<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{title}}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a type="button" class="btn btn-sm btn-success" href="/dashboard/roles/new">
            New Discord Role
        </a>
    </div>
</div>

<table
    id="table"
    data-toggle="table"
    data-search="true"
    data-page-size="25"
    data-pagination="true">
    <thead class="bg-dark text-light">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Discord ID</th>
            <th scope="col">Permissions</th>
            <th scope="col" class="col-1"></th>
        </tr>
    </thead>
    <tbody>
    {{#each roles}}
        <tr scope="row">
            <td>{{this}}</td>
            <td>
                <a type="button" class="btn btn-primary btn-sm" href="/dashboard/roles/edit/{{this}}">
                    <i class="fas fa-edit"></i>
                </a>
                <a type="button" class="btn btn-danger btn-sm" href="/dashboard/roles/delete/{{this}}" onclick="return confirm('Are you sure you want to delete role {{this}}?');">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>