<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{title}}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a type="button" class="btn btn-sm btn-success" href="/dashboard/users/new">
            New Admin
        </a>
    </div>
</div>

<p>
    List of Administrators
</p>

<table
    id="table"
    data-toggle="table"
    data-search="true"
    data-page-size="25"
    data-pagination="true">
    <thead class="bg-dark text-light">
        <tr>
            <th scope="col" data-sortable="true">Name</th>
            <th scope="col" data-sortable="true">Email</th>
            <th scope="col" class="col-1"></th>
        </tr>
    </thead>
    <tbody>
    {{#each users}}
        <tr scope="row">
            <td>{{name}}</td>
            <td>{{email}}</td>
            <td>
                <a type="button" class="btn btn-primary btn-sm" href="/dashboard/users/edit/{{id}}">
                    <i class="fas fa-edit"></i>
                </a>
                <a type="button" class="btn btn-danger btn-sm" href="/dashboard/users/delete/{{id}}" onclick="return confirm('Are you sure you want to delete user {{name}}?');">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>