<br>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/dashboard/alarms">Alarms</a></li>
        <li class="breadcrumb-item active" aria-current="page">Alarm {{name}}</li>
    </ol>
</nav>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{title}}</h1>
</div>

<form method="POST" action="">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" value="{{name}}">
    </div>
    <div class="mb-3">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="enablePokemon" {{#if alarm.enablePokemon}}checked{{/if}}>
            <label class="form-check-label" for="enablePokemon">Enable Pokemon</label>
        </div>
    </div>
    <div class="mb-3">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="enableRaids" {{#if alarm.enableRaids}}checked{{/if}}>
            <label class="form-check-label" for="enableRaids">Enable Raids</label>
        </div>
    </div>
    <div class="mb-3">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="enableQuests" {{#if alarm.enableQuests}}checked{{/if}}>
            <label class="form-check-label" for="enableQuests">Enable Quests</label>
        </div>
    </div>
    <div class="mb-3">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="enablePokestops" {{#if alarm.enablePokestops}}checked{{/if}}>
            <label class="form-check-label" for="enablePokestops">Enable Pokestops</label>
        </div>
    </div>
    <div class="mb-3">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="enableGyms" {{#if alarm.enableGyms}}checked{{/if}}>
            <label class="form-check-label" for="enableGyms">Enable Gyms</label>
        </div>
    </div>
    <div class="mb-3">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="enableWeather" {{#if alarm.enableWeather}}checked{{/if}}>
            <label class="form-check-label" for="enableWeather">Enable Weather</label>
        </div>
    </div>
    <div class="mb-3">
        <div class="card">
            <div class="card-header bg-dark text-light">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap">
                    <h5>Alarms</h5>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#addAlarmModal">
                            <i class="fas fa-plus"></i>
                            &nbsp;New Alarm
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div style="height: 500px; overflow: auto;">
                    <ul class="list-group border border-1 rounded" id="alarms">
                        {{#each alarm.alarms}}
                        <li class="list-group-item m-2 border border-2 rounded">
                            <div class="mb-3">
                                <label for="name" class="form-label">Name</label>
                                <input type="text" class="form-control" id="name" name="name" value="{{name}}">
                            </div>
                            <div class="mb-3">
                                <label for="filter" class="form-label">Filters</label>
                                <select class="form-control" id="filter" name="filter">
                                    {{#each ../filters}}
                                    <option value="{{this}}" {{isSelected this ../filtersFile}}>{{this}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="embed" class="form-label">Embeds</label>
                                <select class="form-control" id="embed" name="embed">
                                    {{#each ../embeds}}
                                    <!--<option value="{{file}}" {{#if selected}}selected{{/if}}>{{file}}</option>-->
                                    <option value="{{this}}" {{isSelected this ../embedsFile}}>{{this}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="geofences" class="form-label">Geofences</label>
                                <select class="form-control" id="geofences" name="geofences" multiple>
                                    {{#each ../geofences}}
                                    <option value="{{this}}" {{isSelected ../geofences this}}>{{this}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="webhook" class="form-label">Webhook</label>
                                <input type="text" class="form-control" id="webhook" name="webhook" value="{{webhook}}">
                            </div>
                            <button type="button" class="btn btn-danger btn-sm" onclick="removeAlarm(this, '{{name}}');">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

<div class="modal fade" id="addAlarmModal" tabindex="-1" aria-labelledby="addAlarmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addAlarmModalLabel">New Channel Alarm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="new_name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="new_name" name="new_name" required>
                </div>
                <div class="mb-3">
                    <label for="new_filter" class="form-label">Filters</label>
                    <select class="form-control" id="new_filter" name="new_filter" required>
                        {{#each filters}}
                        <option value="{{this}}"}>{{this}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="new_embed" class="form-label">Embeds</label>
                    <select class="form-control" id="new_embed" name="new_embed" required>
                        {{#each embeds}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="new_geofences" class="form-label">Geofences</label>
                    <select class="form-control" id="new_geofences" name="new_geofences" multiple required>
                        {{#each geofences}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="new_webhook" class="form-label">Webhook</label>
                    <input type="text" class="form-control" id="new_webhook" name="new_webhook" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="addAlarm(this);">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function addAlarm(e) {
        const element = $(e);
        const parent = element.parent().parent();
        console.log('element:', element, 'parent:', parent);
        const children = parent.children();
        const name = $('#new_name').val();
        const embed = $('#new_embed').val();
        const filter = $('#new_filter').val();
        const geofences = $('#new_geofences').val();
        const webhook = $('#new_webhook').val();
        console.log('name:', name, 'embed:', embed, 'filter:', filter, 'geofences:', geofences, 'webhook:', webhook);
        $('#alarms').append(`
<li class="list-group-item m-2 border">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" value="${name}">
    </div>
    <div class="mb-3">
        <label for="filter" class="form-label">Filters</label>
        <select class="form-control" id="filter" name="filter">
            {{#each filters}}
            <option value="{{this}}" {{isSelected filters this}}>{{this}}</option>
            {{/each}}
        </select>
    </div>
    <div class="mb-3">
        <label for="embed" class="form-label">Embeds</label>
        <select class="form-control" id="embed" name="embed">
            {{#each embeds}}
            <option value="{{this}}" {{isSelected embeds this}}>{{this}}</option>
            {{/each}}
        </select>
    </div>
    <div class="mb-3">
        <label for="geofences" class="form-label">Geofences</label>
        <select class="form-control" id="geofences" name="geofences" multiple>
            {{#each geofences}}
            <option value="{{this}}" {{isSelected ../geofences this}}>{{this}}</option>
            {{/each}}
        </select>
    </div>
    <div class="mb-3">
        <label for="webhook" class="form-label">Webhook</label>
        <input type="text" class="form-control" id="webhook" value="${webhook}">
    </div>
    <button type="button" class="btn btn-danger btn-sm" onclick="removeAlarm(this, '${name}');">
        <i class="fas fa-trash-alt"></i>
    </button>
</li>
`);
        //$('#addAlarmModal').hide();
    }

    function removeAlarm(e, name) {
        const result = confirm(`Are you sure you want to remove alarm ${name}?`);
        if (!result) {
            return;
        }
        $(e).parent().remove();
    }
</script>