<br>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/dashboard/configs">Configs</a></li>
        <li class="breadcrumb-item active" aria-current="page">Config {{name}}</li>
    </ol>
</nav>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{title}}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
        </button>
    </div>
</div>

<form method="POST" action="">
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingGeneral">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseGeneral" aria-expanded="true" aria-controls="panelsStayOpen-collapseGeneral">
                    General Settings
                </button>
            </h2>
            <div id="panelsStayOpen-collapseGeneral" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingGeneral">
                <div class="accordion-body">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" value="{{name}}">
                    </div>
                    <div class="mb-3">
                        <label for="host" class="form-label">Host</label>
                        <input type="text" class="form-control" id="host" name="host" value="{{config.listeningHost}}">
                    </div>
                    <div class="mb-3">
                        <label for="port" class="form-label">Port</label>
                        <input type="number" class="form-control" id="port" name="port" value="{{config.webhookPort}}">
                    </div>
                    <div class="mb-3">
                        <label for="locale" class="form-label">Locale</label>
                        <input type="text" class="form-control" id="locale" name="locale" value="{{config.locale}}">
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingShortUrlApi">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseShortUrlApi" aria-expanded="false" aria-controls="panelsStayOpen-collapseShortUrlApi">
                Short Url API
              </button>
            </h2>
            <div id="panelsStayOpen-collapseShortUrlApi" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingShortUrlApi">
                <div class="accordion-body">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="shortUrlApiEnabled" {{#if config.shortUrlApi.enabled}}checked{{/if}}>
                        <label class="form-check-label" for="shortUrlApiEnabled">Enabled</label>
                    </div>
                    <label for="shortUrlApiUrl" class="form-label">API Key</label>
                    <input type="text" class="form-control" id="shortUrlApiUrl" name="shortUrlApiUrl" value="{{config.shortUrlApi.apiUrl}}">

                    <label for="shortUrlApiSignature" class="form-label">Signature</label>
                    <input type="text" class="form-control" id="shortUrlApiSignature" name="shortUrlApiSignature" value="{{config.shortUrlApi.signature}}">
                    
                    <label for="shortUrlApiAction" class="form-label">Action</label>
                    <input type="text" class="form-control" id="shortUrlApiAction" name="shortUrlApiAction" value="{{config.shortUrlApi.action}}">
                    
                    <label for="shortUrlApiFormat" class="form-label">Response Format</label>
                    <input type="text" class="form-control" id="shortUrlApiFormat" name="shortUrlApiFormat" value="{{config.shortUrlApi.format}}">
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingStripe">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseStripe" aria-expanded="false" aria-controls="panelsStayOpen-collapseStripe">
                    Stripe API
                </button>
            </h2>
            <div id="panelsStayOpen-collapseStripe" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingStripe">
                <div class="accordion-body">
                    <label for="stripeApiKey" class="form-label">API Key</label>
                    <input type="text" class="form-control" id="stripeApiKey" name="stripeApiKey" value="{{config.stripeApi.apiKey}}">
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingServers">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseServers" aria-expanded="false" aria-controls="panelsStayOpen-collapseServers">
                    Discord Servers
                </button>
            </h2>
            <div id="panelsStayOpen-collapseServers" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingServers">
                <div class="accordion-body">
                ...
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingDatabase">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseDatabase" aria-expanded="false" aria-controls="panelsStayOpen-collapseDatabase">
                    Database
                </button>
            </h2>
            <div id="panelsStayOpen-collapseDatabase" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingDatabase">
                <div class="accordion-body">
                ...
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingUrls">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseUrls" aria-expanded="false" aria-controls="panelsStayOpen-collapseUrls">
                    Urls
                </button>
            </h2>
            <div id="panelsStayOpen-collapseUrls" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingUrls">
                <div class="accordion-body">
                    <label for="stripeApiKey" class="form-label">Scanner Map Url</label>
                    <input type="text" class="form-control" id="stripeApiKey" name="stripeApiKey" value="{{config.urls.scannerMap}}">
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingEventPokemon">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseEventPokemon" aria-expanded="false" aria-controls="panelsStayOpen-collapseEventPokemon">
                    Event Pokemon
                </button>
            </h2>
            <div id="panelsStayOpen-collapseEventPokemon" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingEventPokemon">
                <div class="accordion-body">
                ...
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingIconStyles">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseIconStyles" aria-expanded="false" aria-controls="panelsStayOpen-collapseIconStyles">
                    Icon Styles
                </button>
            </h2>
            <div id="panelsStayOpen-collapseIconStyles" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingIconStyles">
                <div class="accordion-body">
                ...
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingStaticMaps">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseStaticMaps" aria-expanded="false" aria-controls="panelsStayOpen-collapseStaticMaps">
                    Static Maps
                </button>
            </h2>
            <div id="panelsStayOpen-collapseStaticMaps" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingStaticMaps">
                <div class="accordion-body">
                ...
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwilio">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwilio" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwilio">
                    Twilio
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwilio" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwilio">
                <div class="accordion-body">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="twilioEnabled" {{#if config.twilio.enabled}}checked{{/if}}>
                        <label class="form-check-label" for="twilioEnabled">Enabled</label>
                    </div>
                    <div class="mb-3">
                        <label for="twilioAccountSid" class="form-label">Account SID</label>
                        <input type="text" class="form-control" id="twilioAccountSid" name="twilioAccountSid" value="{{config.twilio.accountSid}}">
                    </div>
                    <div class="mb-3">
                        <label for="twilioAuthToken" class="form-label">Auth Token</label>
                        <input type="text" class="form-control" id="twilioAuthToken" name="twilioAuthToken" value="{{config.twilio.authToken}}">
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingReverseGeocoding">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseReverseGeocoding" aria-expanded="false" aria-controls="panelsStayOpen-collapseReverseGeocoding">
                    Reverse Geocoding
                </button>
            </h2>
            <div id="panelsStayOpen-collapseReverseGeocoding" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingReverseGeocoding">
                <div class="accordion-body">
                ...
                </div>
            </div>
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Save</button>
</form>