<br>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/dashboard/discords">Discords</a></li>
        <li class="breadcrumb-item active" aria-current="page">Discord {{name}}</li>
    </ol>
</nav>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{title}}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
        </button>
    </div>
</div>

<form method="POST" action="">
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headerGeneral">
              <button class="accordion-button bg-dark text-light" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseGeneral" aria-expanded="true" aria-controls="panelsStayOpen-collapseGeneral">
                General Settings
              </button>
            </h2>
            <div id="panelsStayOpen-collapseGeneral" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headerGeneral">
                <div class="accordion-body">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" value="{{name}}">
                    </div>
                    <div class="mb-3">
                        <label for="alarms" class="form-label">Donor Roles</label>
                        <select class="form-control" id="donorRoles">
                            {{#each donorRoles}}
                            <option>{{this}}</option>
                            {{/each}}
                        </select>
                    </div>
                    
                    <div class="mb-3">
                        <label for="alarms" class="form-label">Moderator Roles</label>
                        <select class="form-control" id="moderatorRoles">
                            {{#each moderatorRoles}}
                            <option>{{this}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="freeRoleName" class="form-label">Free Role Name</label>
                        <input type="text" class="form-control" id="freeRoleName" name="freeRoleName" placeholder="Example input placeholder" value="{{config.freeRoleName}}">
                    </div>

                    <div class="mb-3">
                        <label for="alarms" class="form-label">Alarms</label>
                        <select class="form-control" id="alarms">
                            {{#each alarms}}
                            <option value="{{file}}" {{#if selected}}selected{{/if}}>{{file}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="alarms" class="form-label">Geofences</label>
                        <select class="form-control" id="alarms" multiple>
                            {{#each geofences}}
                            <option value="{{file}}" {{#if selected}}selected{{/if}}>{{file}}</option>
                            {{/each}}
                        </select>
                    </div>
                    
                    <div class="mb-3">
                        <label for="iconStyle" class="form-label">Icon Style</label>
                        <select class="form-control" id="iconStyle">
                            {{#each iconStyles}}
                            <option>{{@key}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="embed" class="form-label">DM Embed File</label>
                        <select class="form-control" id="embed">
                            {{#each embeds}}
                            <option value="{{file}}" {{#if selected}}selected{{/if}}>{{file}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headerBot">
              <button class="accordion-button bg-dark text-light collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseBot" aria-expanded="false" aria-controls="panelsStayOpen-collapseBot">
                Bot Settings
              </button>
            </h2>
            <div id="panelsStayOpen-collapseBot" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headerBot">
                <div class="accordion-body">
                    <div class="mb-3">
                        <label for="commandPrefix" class="form-label">Command Prefix</label>
                        <input type="text" class="form-control" id="commandPrefix" name="commandPrefix" placeholder="Example input placeholder" value="{{config.bot.commandPrefix}}">
                    </div>
                    <div class="mb-3">
                        <label for="emojiGuildId" class="form-label">Emoji Guild Id</label>
                        <input type="text" class="form-control" id="emojiGuildId" name="emojiGuildId" placeholder="Example input placeholder" value="{{config.bot.emojiGuildId}}">
                    </div>
                    <div class="mb-3">
                        <label for="token" class="form-label">Token</label>
                        <input type="text" class="form-control" id="token" name="token" placeholder="Example input placeholder" value="{{config.bot.token}}">
                    </div>
                    <div class="mb-3">
                        <label for="channelIds" class="form-label">Channel IDs</label>
                        <input type="text" class="form-control" id="channelIds" name="token" placeholder="Example input placeholder" value="{{config.bot.channelIds}}">
                    </div>
                    <div class="mb-3">
                        <label for="status" class="form-label">Status</label>
                        <input type="text" class="form-control" id="status" name="status" placeholder="Example input placeholder" value="{{config.bot.status}}">
                    </div>
                    <div class="mb-3">
                        <label for="ownerId" class="form-label">Owner ID</label>
                        <input type="text" class="form-control" id="ownerId" name="ownerId" placeholder="Example input placeholder" value="{{config.bot.ownerId}}">
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headerSubscriptions">
              <button class="accordion-button bg-dark text-light collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSubscriptions" aria-expanded="false" aria-controls="panelsStayOpen-collapseSubscriptions">
                Subscription Settings
              </button>
            </h2>
            <div id="panelsStayOpen-collapseSubscriptions" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headerSubscriptions">
                <div class="accordion-body">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="subscriptionsEnabled" {{#if config.subscriptions.enabled}}checked{{/if}}>
                        <label class="form-check-label" for="subscriptionsEnabled">Enabled</label>
                    </div>
                    <label for="maxPokemonSubscriptions" class="form-label">Max Pokemon Subscriptions</label>
                    <input type="number" class="form-control" id="maxPokemonSubscriptions" name="maxPokemonSubscriptions" value="{{config.subscriptions.maxPokemonSubscriptions}}" {{#unless config.subscriptions.enabled}}disabled{{/unless}}>
                    <label for="maxPvpSubscriptions" class="form-label">Max PvP Subscriptions</label>
                    <input type="number" class="form-control" id="maxPvpSubscriptions" name="maxPvpSubscriptions" value="{{config.subscriptions.maxPvPSubscriptions}}" {{#unless config.subscriptions.enabled}}disabled{{/unless}}>
                    <label for="maxRaidSubscriptions" class="form-label">Max Raid Subscriptions</label>
                    <input type="number" class="form-control" id="maxRaidSubscriptions" name="maxRaidSubscriptions" value="{{config.subscriptions.maxRaidSubscriptions}}" {{#unless config.subscriptions.enabled}}disabled{{/unless}}>
                    <label for="maxQuestSubscriptions" class="form-label">Max Quest Subscriptions</label>
                    <input type="number" class="form-control" id="maxQuestSubscriptions" name="maxQuestSubscriptions" value="{{config.subscriptions.maxQuestSubscriptions}}" {{#unless config.subscriptions.enabled}}disabled{{/unless}}>
                    <label for="maxLureSubscriptions" class="form-label">Max Lure Subscriptions</label>
                    <input type="number" class="form-control" id="maxLureSubscriptions" name="maxLureSubscriptions" value="{{config.subscriptions.maxLureSubscriptions}}" {{#unless config.subscriptions.enabled}}disabled{{/unless}}>
                    <label for="maxInvasionSubscriptions" class="form-label">Max Invasion Subscriptions</label>
                    <input type="number" class="form-control" id="maxInvasionSubscriptions" name="maxInvasionSubscriptions" value="{{config.subscriptions.maxInvasionSubscriptions}}" {{#unless config.subscriptions.enabled}}disabled{{/unless}}>
                    <label for="maxGymSubscriptions" class="form-label">Max Gym Subscriptions</label>
                    <input type="number" class="form-control" id="maxGymSubscriptions" name="maxGymSubscriptions" value="{{config.subscriptions.maxGymSubscriptions}}" {{#unless config.subscriptions.enabled}}disabled{{/unless}}>
                    <label for="maxNotificationsPerMinute" class="form-label">Max Notifications Per Minute</label>
                    <input type="number" class="form-control" id="maxNotificationsPerMinute" name="maxNotificationsPerMinute" value="{{config.subscriptions.maxNotificationsPerMinute}}" {{#unless config.subscriptions.enabled}}disabled{{/unless}}>
                    <label for="subscriptionsUiUrl" class="form-label">Subscriptions UI Url</label>
                    <input type="text" class="form-control" id="subscriptionsUiUrl" name="subscriptionsUiUrl" value="{{config.subscriptions.url}}" {{#unless config.subscriptions.enabled}}disabled{{/unless}}>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headerGeofenceRoles">
              <button class="accordion-button bg-dark text-light collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseGeofenceRoles" aria-expanded="false" aria-controls="panelsStayOpen-collapseGeofenceRoles">
                Geofence Roles Settings
              </button>
            </h2>
            <div id="panelsStayOpen-collapseGeofenceRoles" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headerGeofenceRoles">
                <div class="accordion-body">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="geofenceRolesEnabled" {{#if config.geofenceRoles.enabled}}checked{{/if}}>
                        <label class="form-check-label" for="geofenceRolesEnabled">Enabled</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="autoRemove" {{#if config.geofenceRoles.autoRemove}}checked{{/if}}>
                        <label class="form-check-label" for="autoRemove">Automatically Remove</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="requiresDonorRole" {{#if config.geofenceRoles.requiresDonorRole}}checked{{/if}}>
                        <label class="form-check-label" for="requiresDonorRole">Requires Donor Role</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headerQuestPurge">
              <button class="accordion-button bg-dark text-light collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseQuestPurge" aria-expanded="false" aria-controls="panelsStayOpen-collapseQuestPurge">
                Quest Purge Settings
              </button>
            </h2>
            <div id="panelsStayOpen-collapseQuestPurge" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headerQuestPurge">
                <div class="accordion-body">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="questsPurgeEnabled" name="questsPurgeEnabled" {{#if config.questsPurge.enabled}}checked{{/if}}>
                        <label class="form-check-label" for="questsPurgeEnabled">Enabled</label>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="questsPurgeChannels">Channel IDs</label>
                        <input class="form-control" type="text" id="questsPurgeChannels" name="questsPurgeChannels" value="{{config.questsPurge.channels}}">
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headerNests">
              <button class="accordion-button bg-dark text-light collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseNests" aria-expanded="false" aria-controls="panelsStayOpen-collapseNests">
                Nest Settings
              </button>
            </h2>
            <div id="panelsStayOpen-collapseNests" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headerNests">
                <div class="accordion-body">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="nestsEnabled" {{#if config.nests.enabled}}checked{{/if}}>
                        <label class="form-check-label" for="nestsEnabled">Enabled</label>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="nestsChannelId">Channel ID</label>
                        <input class="form-control" type="number" id="nestsChannelId" name="nestsChannelId" value="{{config.nests.channelId}}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="nestsMinimumPerHour">Minimum Nests Per Hour</label>
                        <input class="form-control" type="number" id="nestsMinimumPerHour" name="nestsMinimumPerHour" value="{{config.nests.minimumPerHour}}">
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headerDailyStats">
              <button class="accordion-button bg-dark text-light collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseDailyStats" aria-expanded="false" aria-controls="panelsStayOpen-collapseDailyStats">
                Daily Statistics Settings
              </button>
            </h2>
            <div id="panelsStayOpen-collapseDailyStats" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headerDailyStats">
                <div class="accordion-body">
                    <div class="card mb-3">
                        <div class="card-header">
                            IV Stats
                        </div>
                        <div class="card-body">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="ivStatsEnabled" name="ivStatsEnabled" {{#if config.dailyStats.ivStats.enabled}}checked{{/if}}>
                                <label class="form-check-label" for="ivStatsEnabled">Enabled</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="ivStatsClearMessages" name="ivStatsClearMessages" {{#if config.dailyStats.ivStats.clearMessages}}checked{{/if}}>
                                <label class="form-check-label" for="ivStatsClearMessages">Clear Messages</label>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="ivStatsChannelId">Channel ID</label>
                                <input class="form-control" type="number" id="ivStatsChannelId" name="ivStatsChannelId" value="{{config.dailyStats.ivStats.channelId}}">
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header">
                            Shiny Stats
                        </div>
                        <div class="card-body">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="shinyStatsEnabled" name="shinyStatsEnabled" {{#if config.dailyStats.shinyStats.enabled}}checked{{/if}}>
                                <label class="form-check-label" for="shinyStatsEnabled">Enabled</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="shinyStatsClearMessages" name="shinyStatsClearMessages" {{#if config.dailyStats.shinyStats.clearMessages}}checked{{/if}}>
                                <label class="form-check-label" for="shinyStatsClearMessages">Clear Messages</label>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="shinyStatsChannelId">Channel ID</label>
                                <input class="form-control" type="number" id="shinyStatsChannelId" name="shinyStatsChannelId" value="{{config.dailyStats.shinyStats.channelId}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

<script type="text/javascript">
    const subscriptionProperties = [
        '#maxPokemonSubscriptions',
        '#maxPvpSubscriptions',
        '#maxRaidSubscriptions',
        '#maxQuestSubscriptions',
        '#maxLureSubscriptions',
        '#maxInvasionSubscriptions',
        '#maxGymSubscriptions',
        '#maxNotificationsPerMinute',
        '#subscriptionsUiUrl',
    ];
    const geofenceRoleProperties = [
        '#autoRemove',
        '#requiresDonorRole',
    ];
    const questPurgeProperties = [
        '#questsPurgeChannels',
    ];
    const nestProperties = [
        '#nestsChannelId',
        '#nestsMinimumPerHour',
    ];

    $('#subscriptionsEnabled').on('click', () => disableElements('#subscriptionsEnabled', subscriptionProperties));
    $('#geofenceRolesEnabled').on('click', () => disableElements('#geofenceRolesEnabled', geofenceRoleProperties));
    $('#questsPurgeEnabled').on('click', () => disableElements('#questsPurgeEnabled', questPurgeProperties));
    $('#nestsEnabled').on('click', () => disableElements('#nestsEnabled', nestProperties));

    function disableElements(selector, properties) {
        const element = $(selector);
        const value = element.is(':checked');
        for (const property of properties) {
            $(property).prop('disabled', !value);
        }
    }
</script>